.nav-container {
  background-color: white;
  width: 100%;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-left: 10%;
  width: 80%;
  border: 1px solid black;
}

.nav-logo {
  padding-top: 5px;
  height: 35px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-links div {
  width: 100px;
  color: black;
  border: 1px solid red;
  font-size: 20px;
  background-color: white;
}
